@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
$font-family-base: 'Montserrat', sans-serif;


$primary: #a6c7b6 ;
$secondary: #e29578;
$nav-link-hover-color: #a6c7b6;


$card-border-radius: none;


@import "../node_modules/bootstrap/scss/bootstrap";

